.container {
    text-align: center;
}
.title {
    margin-top: 50px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title span {
    color: #FF1C67;
    padding-left: 15px;
}
.reset {
    width: 250px;
    height: 80px;
    border:none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #FF9CCF;
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 25px;

}
.boxes {
    display: flex;
    height: 180px;
    width: 180px;
    background-color: #FF1C67;
    border: 4px solid black;
    border-radius: 12px;
    cursor:pointer;
    margin: 2px;
}
.board {
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
}
.boxes img {
    margin: 50px 50px ;
}
.custom-image {
    width: 100px;
    height: 100px;
    padding: 15px 15px;
}
